{% extends 'layout.html' %}
{% block content %}
<h2 class='text-center'>Sales Report</h2>
<div class="container">
    <div class="row">
        <div class="chart" id="bargraph">
            <!--Plotly-->
            <script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
            <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
            <script type='text/javascript'>
                var graphs = {{plot | safe}};
                Plotly.plot('bargraph',graphs,{});
            </script>
        </div>
    </div>
</div>
{% endblock content %}