{% extends 'layout.html' %}
{% block content %}
<div>
    <p class='text-center'>Check Out</p>
</div>

<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                  <h4 class="widget-title">Billing Details</h4>
                  <form method="post" enctype="multipart/form-data">
                     <div class="form-group">
                        <form action=""  class="checkout-form">
                        <label for="full_name">Full Name<span class="required">*</span></label>
                        {{form.full_name(class="form-control")}}
                     </div>
                     <div class="form-group">
                        <label for="address">Address<span class="required">*</span></label>
                        {{form.address(class="form-control")}}
                     </div>
                        <div class="form-group">
                           <label for="postal_code">Postal Code<span class="required">*</span></label>
                           {{form.postal_code(class="form-control")}}
                        </div>
                  </form>
               </div>
               <br><br>
               <div class="block">
                  <h4 class="widget-title">Payment Details</h4>
                  <div class="checkout-product-details">
                     <div class="payment">
                        <div class="card-details">
                           <form  class="checkout-form">
                              <div class="form-group">
                                 <label for="card-number">Card Number <span class="required">*</span></label>
                                 {{form.card_number(class="form-control")}} 
                              </div>

                              <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                 <label for="card-expiry">Expiry (MM/YY) <span class="required">*</span></label>
                                 {{form.expiry(class="form-control")}}
                              </div>
                             <div class="form-group mb-3 col-xs-12 col-sm-6">
                                 <label for="card-cvc">CVV<span class="required">*</span></label>
                                 {{form.cvv(class="form-control")}}
                              </div>
                              </div>
                              <a href="{{url_for('thanks')}}" class="btn btn-primary">Place Order</a >
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="product-checkout-details">
                  <div class="block">
                     <h4 class="widget-title">Order Summary</h4>
                     <div class="media product-card">
                        {% for product in cart_items %}
                        <a class="pull-left" href="product-single.html">
                            <img src="{{url_for('static',filename='product_pics/' + product.image_1)}}" alt="{{product.name}}" width="50" height="50">
                        </a>
                        <div class="media-body">
                           <h4 class="media-heading">{{ product.name }}</h4>
                           <p class="price">{{ product.quantity }} x ${{ product.price }}</p>
                        </div>
                        {% endfor %}
                     </div>
                     <div class="discount-code">
                        <p>Have a discount ? <a data-toggle="modal" data-target="#coupon-modal" href="#!">enter it here</a></p>
                     </div>
                     <ul class="summary-prices">
                        <li>
                           <span>Subtotal:</span>
                           <span class="price">$190</span>
                        </li>
                        <li>
                           <span>Shipping:</span>
                           <span>Free</span>
                        </li>
                     </ul>
                     <div class="summary-total">
                        <span>Total</span>
                        <span>$250</span>
                     </div>
                     <div class="verified-icon">
                        <img src="images/shop/verified.png">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
