{% extends 'layout.html' %}
{% block content %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(static/images/potholder.png);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Products</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="fh5co-product">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<span>Cool Stuff</span>
				<h2>Products</h2>
				<p>Welcome to Crafty Wood. Check out the awesome products we have.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product-1.jpg);">
						<div class="inner">
							<p>
								<a href="add_to_cart.html" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="single.html" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="single.html">Hauteville Concrete Rocking Chair</a></h3>
						<span class="price">$350</span>
					</div>
				</div>
			</div>
			{% for product in products %}
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid" style="background-image:url(images/product-2.jpg);">
						<img src="{{url_for('static',filename='product_pics/' + product.image_1)}}" alt="{{product.name}}" width="50" height="50"></td>
						<div class="inner">
							<p>
								<a href="#" class="icon"><i class="icon-shopping-cart"></i></a>
								<a href="single.html" class="icon"><i class="icon-eye"></i></a>
							</p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="single.html">{{ product.name }}</a></h3>
						<span class="price">${{ product.price }}</span>
					</div>
				</div>
			</div>
			{% endfor %}
{% endblock content %}